<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- Auth Servlets -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.SignUp</servlet-class>
    </servlet>

    <!-- Motorbike Servlets -->
    <servlet>
        <servlet-name>MotorbikeListController</servlet-name>
        <servlet-class>controllers.MotorbikeListController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MotorbikeDetailController</servlet-name>
        <servlet-class>controllers.MotorbikeDetailController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>

    <!-- Auth Mapping -->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <!-- Motorbike Mapping -->
    <servlet-mapping>
        <servlet-name>MotorbikeListController</servlet-name>
        <url-pattern>/MotorbikeList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MotorbikeDetailController</servlet-name>
        <url-pattern>/MotorbikeDetail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

</web-app>